/* --------- Site Branding --------- */
:root {

    /* Base Font */
    --ff: "Kanit", serif;
    --basefontsize: 16px;

    /* Site Colours */
    --background-color: #F4F3EE;  /* Soft Off-White */
    --text-color: #1B1B1B;  /* Deep Charcoal */
    --primary-color: #0072B5;  /* Vibrant Blue */
    --secondary-color: #68B0AB;  /* Muted Teal */
    --highlight-color: #354F52;  /* Dark Forest Green */

}

body,
html {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--basefontsize);
    font-family: var(--ff);
    scroll-behavior: smooth;
}